html, body {
	height: 100vh;
	margin: 0px;
	padding: 0px;
	font-family: 'Poppins', sans-serif;
	letter-spacing: 1px;
}

.main-section {
	display: grid;
	grid-template-columns: 1fr;
	height: 100vh;
}

.main-image > img {
	height: 100%;
	width: 100%;
}

.logo {
	justify-self: end;
	align-self: center;
}

.logo > img {
	height: 50px;
	width: auto;
}


.main-section {
	background: #eaeaea;
}

.content {
	background: #333333;
	border-radius: 15%;
	color: #ffffff;
	padding: 15px;
	border-bottom: 1px solid #ffffff;
	margin-top: -45px;
}

.content h4 {
	font-weight: 300;
}

.pricing {
	display: flex;
	justify-content: space-between;
	margin-top: 50px;
	margin-bottom: 15px;
}

.buttons {
	display: flex;
	justify-content: space-around;
}

button {
	border:none;
}

.buttons img {
	height: 65px;
	width: auto;
	margin-top: -35px;
}

